<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body background = '/static/images/wVBmMjkR95.jpg/'>
    <div style="border: 1px solid #000000; width: 300px; height: 500px;margin: 0 auto;">    
        <form action="/login/" method="POST" >
            <table>
                <tr> 
                    <td>用户名：</td>
                    <td>
                        <input name="name" type="text" id="name" required="required" style="width:200px;height:30px;">
                    </td>
                <tr> 
            
                <tr> 
                    <td>密  码：</td>
                    <td>
                        <input name="password" type="password" id="password" required="required" style="width:200px;height:30px;">
                    </td>
                <tr> 
                <tr>
                    <td colspan="2">
                        <input type="reset" value="重置" />
                    </td>
                </tr>                             
            </table>
            <span style="color:red;">{{ error_msg }}</span>
            <input type="submit" style="width:300px;height:30px;font-size:20px" onclick="checkform()" value="登录"  >
        </form>
    </div>
    <script type="text/javascript">    
        function checkform(){ 
            if(document.getElementById('name').value.length==0){    
                alert('输入为空！');
                document.getElementById('name').focus();
                return false;
            }
            if(document.getElementById('password').value==0){    
                alert('输入为空！');
                document.getElementById('password').focus();
                return false;
            }
            document.getElementsByTagName('form')[0].submit();
            
        }
        </script>
</body>

